<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Matt and Anna's Daylight Alarm Clock</title>
      {% endif %}
    </head>
    <body>
        <div>
            Set the time <a href="/index">Home</a>
        </div>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
    

</html>
